<%- include('header') %>
<br>
<p>
    This Article Recommendation System is working on the principle of content based filtering. The dataset is in JSON format. It is cleaned and given a score according to user's query. The lower the score the more suitable the article is for the user.
</p>
<%- include('footer') %>