<footer>
    <br>
    <hr>
    <a href="#"><b>Created by:</b></a>
    <p>Kabir Ahmed Campwala | Jiya Patel | Naman Shah | Sujal Patel</p>
    <a href="#"><b>Guided by:</b></a> 
    <p>Prof. Devandra Parmar</p>
    © <a href="https://github.com/KabirCampwala/Article-Recommendation-System">CurioSift</a>
</footer>

<script>
    let colors = ["#24d05a", "#eb4888", "#10a2f5", "#e9bc3f", "#6a37c8", "#f3824a" ,"#3bc9a1", "#c75eaf"];

    function getRandomColor() {
        return colors[Math.floor(Math.random() * colors.length)];
    }

    function setRandomLinkColor() {
        Array.from(document.getElementsByTagName("a")).forEach((e) => {
            e.style.textDecorationColor = getRandomColor();
        });
    }

    function setColorHoverListener() {
        Array.from(document.querySelectorAll("a, button")).forEach((e) => {
            e.addEventListener("mouseover", setRandomLinkColor);
        });
    }

    (function () {
        setRandomLinkColor();
        setColorHoverListener();
    })();
</script>
</body>
</html>