<%- include('header') %>
<style>

    h3 {
        text-align: center;
        margin-top: 50px;
        color: #333;
    }

    form {
        max-width: 300px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }

    label {
        font-size: 16px;
        color: #333;
        margin-bottom: 8px;
        display: block;
    }

    input[type="text"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    button[type="submit"] {
        width: 100%;
        padding: 2px;
        background-color: rgb(206, 39, 39);
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s;
    }

    button[type="submit"]:hover {
        background-color: rgba(206, 39, 39, 0.928);
    }
</style>
<br><br>
<form action="/login" method="POST">
    <h3>Login</h3>
    <div class="input-box">
        <input type="text" placeholder="Username" required>
    </div>
    <div class="input-box">
        <input type="text" placeholder="Email" required>
    </div>
    <div class="input-box">
        <input type="text" placeholder="Password" required>
    </div>
        <label><input type="checkbox">Remember Me</label>
    </div>
    <button type="submit" class="btn">Login</button>
    <br>
    <br>
</form>
<br>
<div class="register-link">
    <p>Don't have an account? <a href="/signup">SignUp</a></p>
</div>
<br>
<%- include('footer') %>